@charset "UTF-8";


div.mypagelist{width:100%;}
div.mypagelist ul.mypagebtn_ul{width: 100%; text-align: center; overflow: hidden; }
div.mypagelist ul.mypagebtn_ul li { border: 3px solid #fff; background: #fff; margin: 10px; float: left; width: calc(32% - 10px);}
div.mypagelist ul.mypagebtn_ul li a{font-size: 20px; color: #292828; font-weight: 600; line-height: 70px;
			display: inline-block; width: 100%; height: 100%;}
div.mypagelist ul.mypagebtn_ul li:hover { border: 3px solid #ff3d33; box-sizing: border-box;}
div.mypagelist ul.mypagebtn_ul li:hover a{color:#ca1818}

div.mypagelist ul.mypagebtn_ul li.active { border: 3px solid #ff3d33; box-sizing: border-box;}
div.mypagelist ul.mypagebtn_ul li.active a{color:#ca1818}

.mcheck_0{display:none;}
.mcheck_1{display:block;} 
.starbtntd{display:none;}
.starbtntd.s_undefined{display:block !important;}
.startd.s_undefined{display:none;}
.label{
  color:white;
  background-color:red;
  font-size:20px;
  text-align:center;width:80px;height:80px;line-height:80px;border-radius:100%;white-space:nowrap;
  /*background:red url('img/marker.gif') no-repeat 0 0;*/
}