@charset "UTF-8";


div.mypagelist{width:100%;position: absolute;z-index: 6; top: 60px;left: 0; 
			background: #fff;    padding: 0 10%;}
div.mypagelist ul.mypagebtn_ul{width:100%; display: table; text-align: center; }
div.mypagelist ul.mypagebtn_ul li {display: table-cell;}
div.mypagelist ul.mypagebtn_ul li a{font-size: 20px; color: #292828; font-weight: 600; line-height: 70px;
			display: inline-block; width: 100%; height: 100%;}
div.mypagelist ul.mypagebtn_ul li a:hover{color:#ca1818}
.mcheck_0{display:none;}
.mcheck_1{display:block;} 
.starbtntd{display:none;}
.starbtntd.s_undefined{display:block !important;}
.startd.s_undefined{display:none;}
