@charset "utf-8";

#table_id{text-align:center}
@media (max-width:1660px) {
	#table_id.tb_style {
		font-size: 15px;
	}
}

@media  (max-width:1280px) {
	#table_id.tb_style {
		font-size: 12px;
	}
}

@media  (max-width:880px) {
	#table_id.tb_style {
		font-size: 10px;
	}
}

@media  (max-width:550px) {
	#table_id.tb_style {
		font-size: 5px;
	}
}
