@charset "UTF-8";

.div_f{
padding-top: 1.5rem;
width: 80%;
margin: auto;
}

.basic{
margin: 0;
padding: 0;
margin-top: 40px;
}

.basic_h3{
padding-left: 2px;
margin-bottom: 8px;
font-weight: bold;
font-size: 25px;
}

.basic_tb{
border-top: 2px solid #cecece;
width: 100%;
}

.basic_tb_th{
border-right: 1px solid #e4e4e4;
border-bottom: 1px solid #e4e4e4;
padding: 10px 30px 7px 15px;
width: 13%;
background-color: #f4f4f4;
text-align: right;
}

.basic_tb_tdd{
border-bottom: 1px solid #e4e4e4;
text-align: center;
padding: 15px 0px 15px 0px;
    
}

    
.basic_tb_th_up{
padding: 20px 0px 20px 0px;
text-align: center;
background-color: #f4f4f4;
border-bottom: 1px solid #e4e4e4;
}

.basic_tb_th2{
border-right: 1px solid #e4e4e4;
border-bottom: 1px solid #e4e4e4;
padding: 20px 15px 20px 15px;
width: 15%;
background-color: #f4f4f4;
text-align: right;
}

.basic_tb_td{
padding-top: 12.5px;
padding-bottom: 12.5px;
width: 85%;
border-bottom: 1px solid #e4e4e4;
padding: 10px 0 10px 16px;
}

.basic_tb_td_up{
padding-top: 18px;
padding-bottom: 12.5px;
border-bottom: 1px solid #e4e4e4;
text-align: center;
}

.basic_tb_td_down{
text-align: right;
padding: 20px 70px 20px 0px;
font-size: 20px;
font-weight: bold;
border-bottom: 1px solid #e4e4e4;
}

.basic_input{
height: 40px;
padding: 5px 8px;
border: 1px solid #d5d5d5;
margin: 2px;
}

.basic_input2{
height: 40px;
padding: 5px 8px;
border: 1px solid #d5d5d5;
margin: 2px;
text-align: right;
}

.btn_post{
padding: 7px 15px;
font-size: 16px;
display: inline-block;
line-height: 22px;
border: 2px solid #1b3f36;
}

.input_empty{
float: left;
border-bottom: 1px solid #9E9E9E;
text-align: right;
width: 15%;
padding: 10px;
box-sizing: border-box;
min-height: 40px;
}

.input_empty2{
position: relative;
border-bottom: 1px solid #9E9E9E;
text-align: right;
width: 15%;
padding: 10px;
}

.ul_info{
margin: 17px 0 8px;
padding: 0px;
}

.div_pay{
text-align: center;
padding: 26px 0 35px;
border-top: 3px solid #6e707e;
}

.btn_pay{
width: 198px;
height: 56px;
}

.div-tt{
 height: 80px;
 overflow: hidden;
 border-bottom: 1px solid #bbb6b6;
 padding-top: 20p;
 padding-top: 20px;
}


/* 모달 긁어왓쥬 */

.modal-dialog.modal-80size {
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
}

.modal-content.modal-80size {
  height: auto;
  min-height: 80%;
}

.modal.modal-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*orderConfirm*/
.div_text{
padding: 90px;
text-align: center;
border-bottom: 3px solid black;
}

.div_text2{
margin: auto;
padding: 100px;
text-align: center;
}

.btn_point{
border-radius: 10px 0 10px 0;
padding: 20px;
background-color: #1f2025;
color: white;
text-align: bold;
font-weight: bolder;
font-size: 18px;
}

.btn_home{
color: white;color: white !important;
border-radius: 10px 0 10px 0;
padding: 20px;
background-color: #F44336;
text-align: bold;
font-weight: bolder;
font-size: 18px;
}

.div_c{
padding-top: 1.5rem;
width: 50%;
margin: auto;
	
}

.div_a{
overflow: hidden;
width: 100%
}

.btn_a{
width: 50%;
float: left;
padding: 10px 0px;
text-align: center;
height: 80px;
background: #080606;
color: white;
font-weight: bold;
font-size: 20px;
}

.div_error{
	width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.btn_b{
background: #F44336;
}

.frm_point{
padding: 50px 100px 0px 100px;
margin: auto;
}

.tbp_th{
padding: 20px 0px 20px 0px;
width: 30%
}

.point_input{
height: 40px;
padding: 5px 8px;
border: 1px solid #d5d5d5;
margin: 2px;	
}

.pointd_td{
padding-top: 80px;	
}

.btn_point2{
border-radius: 10px 0 10px 0;
padding: 10px 20px 10px 20px;
background-color: #000000;
color: white;
text-align: bold;
font-weight: bolder;
font-size: 18px;
}

.div_list{
 padding-top: 100px;
 padding: 100px 0px 50px 0px;
 text-align: center;
}

.

/* 스크롤바 */
  .scroll1 {
    width: 250px;
    height: 140px;
    overflow: auto;
  }
  .scroll1::-webkit-scrollbar {
    width: 10px;
  }
  .scroll1::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  }
  .scroll1::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

.div_menu1{
padding: 15px;
background: white;
}

/* 크키에 따라 처리 */
@media (max-width:1660px) {
	
	
	
	
}

@media  (max-width:1280px) {

}

@media  (max-width:880px) {

}

@media  (max-width:550px) {

}


