@charset "UTF-8";
.sidebar {z-index:9;}
/*head*/
.gd_bg1 {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #F98344 ,#F8645C, #F84B71); /* Standard syntax (must be last) */
}
.gd_bd1 {
  border-color: red; /* For browsers that do not support gradients */
  border-image: linear-gradient(to right, #F98344 ,#F8645C, #F84B71); /* Standard syntax (must be last) */
}
.gd_fc1 {
	background: linear-gradient(to right, #F98344 ,#F8645C, #F84B71);
	-webkit-background-clip : text;
	-webkit-text-fill-color : transparent;}
.gradation_bg1 {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #F98344 ,#F8645C, #F84B71); /* Standard syntax (must be last) */
}

.gb_jb{position: absolute; right: 1%; margin-top: 1%; background: #eee;
    z-index: 20; padding: 20px; border-radius: 5px; color:#333;}
    
.gb_jb a.logout{padding: 5px 34px; background: #fff; border-radius: 50px; margin-top: 10px;
display: inline-block; border: 1px solid #d2d2d2;}


/* home */
.main_storeList{width:80%; margin:0 auto;}
.main_storeList h1{text-align: center; padding: 80px; font-weight: 900;}
.main_storeList .store_ul{width:100%; overflow:hidden;}
.main_storeList .store_ul li{text-align: center; width: calc( 33.3% - 10px ); float: left; 
margin: 5px;  border:1px solid #333; overflow:hidden;}
.main_storeList .store_ul li a{line-height: 80px; display: inline-block; width: 100%; font-size: 24px;}
.main_storeList .store_ul li a:hover{background-color: #ca1818; color:#fff}

/* basic */
div:hover, div:hover code, div:focus, div:focus code, i:hover {
    text-decoration: none;  transition-duration: 300ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: ease;
}
.none{display: none !important; }
.mb11{margin-bottom: 11px;}
.mt11{margin-top: 11px;}
.mt30{margin-top: 30px;}
.pd30{padding : 30px;}
.pd15{padding : 15px;}
.pd_b0{padding-bottom:0;}
.pd_t0{padding-top:0;}
.pd_l0{padding-left:0;}
.pd_r0{padding-right:0;}


/* slick */
.slick_box{position:relative}
.slick_box .prev, .slick_box .next{position:absolute; top:50%;  transform:translateY(-50%);  font-size: 30px;}
.slick_box .prev{left:10%;}
.slick_box .next{right:10%;}

.slick_box.order .prev{left:0; margin-left:-5%;}
.slick_box.order .next{right:0; margin-right:-5%;}

/* main_slick */
.slick_box.menu_list_wrap .prev{left:0; margin-left:-5%;}
.slick_box.menu_list_wrap .next{right:0; margin-right:-5%;}
.slick_box.menu_category{width:100%;position: absolute;z-index: 6; top: 60px;left: 0; 
			background: #fff;    padding: 0 10%;}
.menu_bar{width:100%;
			text-align: center; }
.menu_bar > div a{font-size: 20px; color: #292828; font-weight: 600; line-height: 70px;
			display: inline-block; width: 100%; height: 100%;}
.menu_bar > div a:hover{color:#ca1818}
.menu_list{width:100%; padding: 30px 0; margin-top: 75px;}
.menu_list > div div.ml{padding: 5px; border-radius: 35px; overflow: hidden;}
.menu_list > div .menu_img{width:100%; height:300px; background:#ddd;}
.menu_list > div .info{overflow:hidden; width:100%; padding: 25px; background: #fff;}
.menu_list > div .info div.title{float:left;}
.menu_list > div .info div.title p:nth-child(1){font-size:25px;}
.menu_list > div .info div.detail{font-size:34px; float:right}
.menu_list > div .info div.detail:hover{color:#ca1818}
.menu_list > div .info .title_dc{}

.slick_box.menu_category2{width: 100%; z-index: 6;left: 0; margin-bottom: 25px;}
.slick_box.menu_category2 .menu_bar{width:100%; text-align: center; }
.slick_box.menu_category2 .menu_bar > div a{font-size: 20px; color: #292828; font-weight: 600; line-height: 70px;
			display: inline-block; width: 100%; height: 100%;}
.slick_box.menu_category2 .menu_bar > div a:hover{color:#ca1818}
.slick_box.menu_category2 .menu_bar > div a.active{color:#ca1818}
.slick_box.menu_category2 .prev{left:0;}
.slick_box.menu_category2 .next{right:0;}



/*메뉴리스트*/
.menu_list div:active, div:active code {
    color: #222;  text-decoration: none; transition-duration: 300ms;
    transition-property: color, border-color, background-color; transition-timing-function: ease;
}


.menu_list .col-item{border: 1px solid #E1E1E1; border-radius: 11px; overflow: hidden; background: #FFF; margin: 0 10px; box-shadow: 1px 1px 4px 1px #eee;}
.menu_list .col-item .photo{ height: 492px; background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;}
.menu_list .col-item .info{ padding: 10px; border-radius: 14px 10px 10px 10px; margin-top: 1px;}
/* .menu_list .col-item:hover .info { background-color: #F5F5DC;} */
.menu_list .col-item .price{ float: left; margin-top: 5px;padding-left: 30px;}
.menu_list .col-item .price h5{ line-height: 20px; margin: 8px 0;}
.menu_list .col-item .price h5:nth-child(1){font-size:1.3em;}
.menu_list .col-item .price h5:nth-child(2){font-size:1.2em; margin-bottom: 19px;}
.menu_list .price-text-color{
	background: linear-gradient(to right, #F98344 ,#F8645C, #F84B71);
	-webkit-background-clip : text;
	-webkit-text-fill-color : transparent;
}
.menu_list .col-item .info .rating{ color: #b9b9b9; padding-right: 30px;}
.menu_list .col-item .rating{ float: left; font-size: 17px; text-align: right;
    line-height: 52px; margin-bottom: 10px; height: 52px;}
.menu_list .col-item .separator{ border-top: 1px solid #E1E1E1;}
.menu_list .clear-left{ clear: left;}
.menu_list .col-item .separator p i{ margin-right: 5px;}
.menu_list .col-item .btn-add{width: 50%; float: left;}
.menu_list .col-item .btn-add{margin-top: 10px;border-right: 1px solid #E1E1E1;text-align: center;line-height: 3.2em; cursor: pointer;}
.menu_list .col-item .btn-details{margin-top: 10px; width: 50%; float: left; padding-left: 10px;text-align: center;line-height: 3.2em; cursor: pointer;}
.menu_list .controls{margin-top: 20px;}
.menu_list [data-slide="prev"]{margin-right: 10px;}

.menu_list .col-item .btn-add:hover{color: #ff3d33;}
.menu_list .col-item .btn-details:hover{color: #ff3d33;}
/*장바구니*/
.cart_btn_wrap{position:absolute; bottom:0; width:100%; overflow:hidden;}
.cart_btn_wrap div{width: 50%; float: left; text-align: center; line-height: 73px; cursor: pointer; border-top: 1px solid #333; border-right: 1px solid #333;}
.shopping-cart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 580px;
    height: 98%;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    border-radius: 5px;
}
.shopping-cart.cart-open{
transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
right: 10px;
}
.shopping-cart.cart-close{
transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
right: -580px;
}

.shoping-cart-btn{
	position: absolute;
    background: #ddd;
    left: -70px;
    bottom: 80px;
    width: 70px;
    height: 70px;
    text-align:center;
    cursor:pointer;
}
.shoping-cart-btn > i{
line-height: 70px;
font-size: 32px;
}
.shoping-cart-cnt{
    position: absolute;
    background: rgb(206 11 11 / 75%);
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    top: 12px;
    right: 11px;
    font-size: 11px;
}


.shopping-cart .title {
  height: 70px;
    border-bottom: 1px solid #E1E8EE;
    color: #5E6977;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 20px;
    line-height: 70px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
 
.shopping-cart .item {
  padding: 20px 30px;
  display: flex;
  border-bottom:  1px solid #E1E8EE;
}
 

.shopping-cart .buttons {
	
  position: relative;
  margin-right: 60px;
  color:#a8b8c4;
  width: 30px;
  height: 30px;
}
.shopping-cart .delete-btn{
  display: inline-block;
  Cursor: pointer;
  font-size: 26px;
}
 

.shopping-cart .description {
  margin-right: 60px;
  width: 115px;
}
 
.shopping-cart .description span {
  display: block;
  font-size: 18px;
  line-height: 26px;
  color: #43484D;
  font-weight: 400;
}

 .shopping-cart .description span:last-child {
  font-weight: 300;
  font-size: 16px;
  color: #86939E;
}

.shopping-cart .quantity {
  margin-right: 60px;
}
.shopping-cart .quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
.shopping-cart button[class*=btn], .plus-btn, .minus-btn {
 	width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #a8b8c4;
    text-align: center;
    line-height: 30px;
} 
.plus-btn{float:left}
.minus-btn{float:right}
.shopping-cart button:focus,
.shopping-cart input:focus {
  outline:0;
}

.shopping-cart .total-price {
  width: 83px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.categoryIf.off{display: none !important;}
.categoryIf.on{display:block !important;}



table.tb_style_jw{width:100%;}
table.tb_style_jw tr:nth-child(2n-1){border:1px solid #578ee0}
table.tb_style_jw tr:nth-child(2n-1) th{background-color: #578ee0; width: 30%; text-align: center; padding: 40px 0;}
table.tb_style_jw tr:nth-child(2n-1) th p{color: white; margin:0; font-weight:333;}
table.tb_style_jw tr:nth-child(2n-1) th p span{font-size: 1.3em; font-weight:bold;}
table.tb_style_jw tr:nth-child(2n-1) td{padding: 23px;}
table.tb_style_jw tr:nth-child(2n-1) td p{margin:0;}
table.tb_style_jw tr:nth-child(2n-1) td:nth-child(2){width:50%;}
table.tb_style_jw tr:nth-child(2n-1) td:nth-child(3){padding:0; text-align:center;}
table.tb_style_jw tr:nth-child(2n-1) td:nth-child(3) button{background: 0;
    font-size: 0.9em; font-weight: bold; border: 2px solid #578ee0;
    padding: 6px 11px;border-radius: 6px;color: #578ee0;}

@media all and (max-width:700px) {
	table.tb_style_jw tr:nth-child(2n-1) td:nth-child(3) button{
    font-size: 0.8em; border: 1.5px solid #578ee0;
    padding: 5px 9px;border-radius: 6px;}
}

#cook {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#cook.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#toastAdd {
    position: fixed;
    bottom: 50%;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 50%);
    border-radius: 30px;
    overflow: hidden;
    font-size: .8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .35);
    color: #fff;
    z-index: 10000;
}

#toastAdd.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}

#callInsert{
	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 3px solid #dcdcdf;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
    animation: fade 1s;
   
}
#callInsert.disnon, .callInsrt_bg.disnon{visibility: hidden; opacity: 0;animation: fade 1s;
-webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
 }
 @keyframes fade {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}
#callInsert .insertTitle{width: 100%; line-height: 28px;}
#callInsert .insertTitle i{float:right; cursor: pointer;}
#callInsert .insertTitle i:hover{color: #4e73df;}
.callInsert_wrap{padding: 25px; overflow: hidden;}
.callInsert_wrap #seat{width:38%; height:45px;}
.callInsert_wrap #message{width:60%; height:45px;}
.callInsert_wrap #sendBtn{width:100%; height:45px; margin-top:10px}
.callInsrt_bg{
	width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}