<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.order.mapper.CallMapper">

<!-- call 추가 -->
   <insert id="callInsert" parameterType="com.soso.app.order.service.CallVO">  
      INSERT INTO call
         (callNum,
		 seatNum,
		 callContents,
		 callCheck,
		 storeId)
      VALUES
         (seq_call.nextval,
         #{seatNum},
         #{callContents},
         '1',
         #{storeId})
   </insert>

</mapper>