<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.employees.mapper.CouponMapper">

<!-- employees 조회 -->
   <select id="findCoupon" parameterType="com.soso.app.coupon.service.CouponVO" resultType="com.soso.app.coupon.service.CouponVO">
		SELECT 
			c.serialNum, 
			c.expStart, 
			c.expEnd, 
			c.discount, 
			c.storeId, 
			u.useCheck
		FROM COUPON c JOIN USERCOUPON u ON (c.serialNum = u.serialNum)
		
		<where>
		<if test="storeId != null">
			c.storeId = #{storeId}
		</if>
		<if test="expEnd != null">		
			AND c.expEnd > sysdate
		</if>
		<if test="useCheck != null">
			AND u.usecheck = 0;
		</if>
		
		</where>
   </select>

</mapper>

