<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.employees.mapper.EmployeesMapper">

<!-- employees 조회 -->
   <select id="getEmployees" parameterType="EmployeesVO" resultType="EmployeesVO">
	SELECT
	empNum,
	empName,
	workPart,
	empBirth,
	salary,
	endDate,
	empPhone,
	salaryDay,
	empClass,
	storeId
	FROM employees
	WHERE empName = #{empmName}
   </select>

<!-- employees 등록 -->
   <insert id="employeesInsert" parameterType="EmployeesVO">
	INSERT INTO employees
	(empNum,
	empName,
	workPart,
	empBirth,
	hireDate,
	salary,
	endDate,
	empPhone,
	salaryDay,
	empClass,
	storeId)
	VALUES
	((employees_seq.nextval),
	#{empName},
	#{workPart},
	#{empBirth},
	#{hireDate},
	#{salary},
	(SELECT sysdate + (INTERVAL '10' YEAR)  FROM dual),
	#{empPhone},
	#{salaryDay},
	#{empClass},
	#{storeId})
   </insert>
   
   <select id="getEmployeesList" parameterType="EmployeesVO" resultType="EmployeesVO">
	SELECT empNum,
	empName,
	workPart,
	to_char(empBirth,'YY-MM-DD'),
	to_char(hireDate,'YY-MM-DD'),
	salary,
	to_char(endDate,'YY-MM-DD'),
	empPhone,
	to_char(salaryDay,'YY-MM-DD'),
	empClass,
	storeId
	FROM employees
	ORDER BY hireDate
   </select>


</mapper>

