<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.emp.mapper.EmpMapper">

<!-- employees storeId 조회 -->
   <select id="getEmp" parameterType="EmpVO" resultType="EmpVO">
	SELECT
	empNum,
	empName,
	workPart,
	to_char(hireDate,'YYYY-MM-DD') AS hireDate,
	to_char(hireDate,'YYYY-MM-DD') AS empBirth,
	salary,
	to_char(endDate,'YYYY-MM-DD') AS endDate,
	empPhone,
	empClass
	FROM employees
	WHERE storeId = #{storeId}
   </select>
 
   
   <!-- employees 번호 조회 -->
	   <select id="getEmpNum" parameterType="EmpVO" resultType="EmpVO">
	SELECT
	empNum,
	empName,
	workPart,
	to_char(hireDate,'YYYY-MM-DD') AS hireDate,
	to_char(empBirth,'YYYY-MM-DD') AS empBirth,
	salary,
	to_char(endDate,'YYYY-MM-DD') AS endDate,
	empPhone,
	empClass
	FROM employees
	WHERE empNum = #{empNum}
   </select>
<!-- employees 등록 -->
   <insert id="empInsert" parameterType="EmpVO">
	INSERT INTO employees
	(empNum,
	empName,
	workPart,
	empBirth,
	hireDate,
	salary,
	endDate,
	empPhone,
	empClass,
	storeId)
	VALUES
	((employees_seq.nextval),
	#{empName},
	#{workPart},
	to_date(#{empBirth}, 'YYYY-MM-DD'),
	to_date(#{hireDate}, 'YYYY-MM-DD'),
	#{salary},
	to_date(#{endDate}, 'YYYY-MM-DD'),
	replace(#{empPhone}, '-', ''),
	#{empClass},
	#{storeId})
   </insert>
   
   
   <!-- 직원list -->
   <select id="getEmpList" parameterType="String" resultType="EmpVO">
	SELECT empNum,
	empName,
	workPart,
	to_char(empBirth,'YYYY-MM-DD') AS empBirth,
	to_char(hireDate,'YYYY-MM-DD') AS hireDate,
	salary,
	to_char(endDate,'YYYY-MM-DD') AS endDate,
	empPhone,
	empClass,
	storeId
	FROM employees
	WHERE storeId = #{storeId}
   </select>

	<!-- 직원 삭제 -->
	<delete id="getEmpDelete" parameterType="EmpVo">
	delete from employees where empNum = #{empNum}
	</delete>
	
	<update id="setUpdateEmp" parameterType="EmpVo">
	UPDATE employees SET
			workPart=#{workPart},
			empBirth=to_date(#{empBirth}, 'YYYY-MM-DD'),
			empName=#{empName},
			hireDate=to_date(#{hireDate}, 'YYYY-MM-DD'),
			endDate=to_date(#{endDate}, 'YYYY-MM-DD'),
			salary=#{salary},
			empPhone=replace(#{empPhone}, '-', ''),
			empClass=#{empClass}
	WHERE empNum = #{empNum}
	</update>
	
	
</mapper>

