<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.emp.mapper.EmpMapper">

<!-- employees storeId 조회 -->
   <select id="getEmp" parameterType="EmpVO" resultType="EmpVO">
	SELECT
	empNum,
	empName,
	workPart,
	to_char(hireDate,'YY-MM-DD') AS hireDate,
	to_char(empBirth,'YY-MM-DD') AS empBirth,
	salary,
	to_char(endDate,'YY-MM-DD') AS endDate,
	empPhone,
	to_char(salaryDay,'YY-MM-DD') AS salaryDay,
	empClass,
	storeId
	FROM employees
	WHERE storeId = #{storeId}
   </select>
   
   <!-- employees 번호 조회 -->
	   <select id="getEmpNum" parameterType="EmpVO" resultType="EmpVO">
	SELECT
	empNum,
	empName,
	workPart,
	to_char(hireDate,'YY-MM-DD') AS hireDate,
	to_char(empBirth,'YY-MM-DD') AS empBirth,
	salary,
	to_char(endDate,'YY-MM-DD') AS endDate,
	empPhone,
	to_char(salaryDay,'YY-MM-DD') AS salaryDay,
	empClass,
	storeId
	FROM employees
	WHERE empNum = #{empNum}
   </select>
<!-- employees 등록 -->
   <insert id="empInsert" parameterType="EmpVO">
	INSERT INTO employees
	(empNum,
	empName,
	workPart,
	empBirth,
	hireDate,
	salary,
	endDate,
	empPhone,
	salaryDay,
	empClass,
	storeId)
	VALUES
	((employees_seq.nextval),
	#{empName},
	#{workPart},
	#{empBirth},
	sysdate,
	#{salary},
	(SELECT sysdate + (INTERVAL '10' YEAR)  FROM dual),
	#{empPhone},
	#{salaryDay},
	#{empClass},
	#{storeId})
   </insert>
   
   
   <!-- 직원list -->
   <select id="getEmpList" parameterType="String" resultType="EmpVO">
	SELECT empNum,
	empName,
	workPart,
	to_char(empBirth,'YY-MM-DD') AS empBirth,
	to_char(hireDate,'YY-MM-DD') AS hireDate,
	salary,
	to_char(endDate,'YY-MM-DD') AS endDate,
	empPhone,
	to_char(salaryDay,'YY-MM-DD') AS salaryDay,
	empClass,
	storeId
	FROM employees
	WHERE storeId = #{storeId}
   </select>

	<!-- 직원 삭제 -->
	<delete id="getEmpDelete" parameterType="EmpVo">
	delete from employees where empNum = #{empNum}
	</delete>
	
	<update id="setUpdateEmp" parameterType="EmpVo">
	UPDATE employees SET
			workPart=#{workPart},
			empName=#{empName},
			salary=#{salary},
			empPhone=#{empPhone},
			salaryDay=#{salaryDay},
			empClass=#{empClass}
	WHERE empNum = #{empNum}
	</update>
	
	
</mapper>

