<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.menu.mapper.MenuMapper">
	<select id="getMenuListHome" resultType="MenuVO" parameterType="MenuVO">
		SELECT * FROM MENU
		<where>
			<if test="storeId != null">
			storeId = #{storeId}
			</if>
		</where>
	</select>
</mapper>