<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.member.mapper.MemberMapper">


<!-- member 조회 -->
   <select id="getMember" parameterType="MemberVO" resultType="MemberVO">
      SELECT
      memberNum,
      phone,
      pwd,
      email,
      delAddr
      FROM member
      WHERE phone = #{phone}
   </select>



<!-- phone 중복체크 -->
<select id="phoneCheck" parameterType="String" resultType="int">
      SELECT COUNT(*) FROM member
      WHERE phone = #{phone}
</select>



<!-- member 리스트 조회 -->
   <select id="getMemberList" parameterType="MemberVO" resultType="MemberVO">   
      SELECT * 
      FROM member
      ORDER BY memberNum
   </select>

<!-- member 가입 -->
   <insert id="memberInsert" parameterType="MemberVO">  
      INSERT INTO member
         (memberNum, 
         phone, 
         pwd,
         email, 
         delAddr)
      VALUES
         ((member_seq.nextval),
         #{phone},
         #{pwd},
         #{email},
         #{delAddr})
   </insert>
   
</mapper>