<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.menu.mapper.MenuMapper">

	<!-- 현재 등록된 메뉴 조회 -->
	<select id="getMenuList" parameterType="menuVO"
		resultType="menuVO">
		SELECT *
		FROM menu
		<where>
			<if test="storeId != null">
			storeId = #{storeId}
			</if>
			<if test="menuCategory != null">
			AND menuCategory = #{menuCategory}
			</if>
		</where>
		order by menuCategory
	</select>
	<!--  -->
	<!--단건조회 -->
	<select id="getMenu" parameterType="menuVO" resultType="map">
		select
		m.menuNum "menuNum",
		m.menuName "menuName",
		m.menuCategory "menuCategory",
		m.menuPrice "menuPrice",
		m.menuContents "menuContents",
		m.menuCheck "menuCheck",
		m.menuImage "menuImage", 
		a.storeMenu "storeMenu"
		from
		menu m, admin a
		<where>
			m.storeId=a.storeId
			<if test="menuNum != null">
			and m.menuNum = #{menuNum}
			</if>
			
		</where>
	</select>
	<!-- 메뉴등록 -->
	<insert id="menuInsert" parameterType="menuVO">
		INSERT INTO menu
		(menuNum,
		menuCategory,
		menuName,
		menuPrice,
		menuImage,
		menuContents,
		menuCheck,
		storeId)
		VALUES
		((SELECT NVL(max(menuNum), 0)+1 FROM menu),
		#{menuCategory},
		#{menuName},
		#{menuPrice},
		#{menuImage},
		#{menuContents},
		#{menuCheck},
		#{storeId})
	</insert>

	<!-- 메뉴 수정 -->
	<update id="menuUpdate" parameterType="menuVO">
		UPDATE menu
		set
		menuCategory=#{menuCategory},
		menuName=#{menuName},
		menuPrice=#{menuPrice},
		menuImage=#{menuImage},
		menuContents=#{menuContents},
		menuCheck=#{menuCheck},
		storeId=#{storeId}
		where menuNum= #{menuNum}
	</update>

	<!-- 메뉴 삭제 -->
	<delete id="menuDelete" parameterType="menuVO">
		delete from menu where menuNum = #{menuNum}
	</delete>


</mapper>