<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.mypage.mapper.MypageMapper">

<!-- 적립금스트 -->
<!-- by아라 -->
	<select id="getPointsList" parameterType="hashmap" resultType="map">
		SELECT distinct
		p.point "point",
		p.pointCheck "pointCheck",
		to_char(p.pointDate,'yyyy/mm/dd') "pointDate", 
		a.STORENAME "storeName"
		FROM point p, admin a, member m
		<where>
		p.storeId = a.storeId 
		and m.membernum = p.membernum
			<if test="phone != null">
			and m.phone = #{phone}
			</if>
			<if test="storeId != null">
			and a.storeId = #{storeId}
			</if>
		</where>
	<!-- 로그인 아이디 세션에서 받아오기 하기하기하기 -->
	</select>
	
	<select id="getStoreList" parameterType="MemberVO" resultType="map">
		SELECT 	distinct
		a.storeName "storeName", a.storeId "storeId"
		FROM point p, admin a, member m
		<where>
		p.storeId = a.storeId
		 and m.membernum = p.membernum
			<if test="phone != null">
			and m.phone = #{phone}
			</if>
		</where>
		<!-- 로그인 아이디 세션에서 받아오기 하기하기하기 -->
	</select>
	
	<!-- 전체(상호)주문내역리스트 -->
	<!-- by아라 -->
	<select id="getOrderList" parameterType="hashmap" resultType="map">
	    SELECT distinct
		to_char(p.payDay,'yyyy/mm/dd') "payDay", 
		p.totalPay "totalPay", 
		a.storeName "storeName" 
		FROM payment p, admin a, member m, seat s
		where s.storeId = a.storeId 
	    and m.membernum = p.membernum
	    and s.seatNum = p.seatNum
	    and s.storeId = a.storeId
	    <if test="phone != null">
  	    and m.phone = #{phone}
			</if>
		<if test="storeId != null">
		and a.storeId = #{storeId}
			</if>

	</select>
	
	<!-- 별점업데이트 -->
	<!-- by아라 -->
	
	<!-- (주문상세내역리스트) -->
	<select id="StarOrderList" parameterType="hashmap" resultType="map">
	SELECT distinct
		menu.menuName "menuName",
		to_char(pay.payDay,'yyyy/mm/dd') "payDay"
		FROM point p, admin a, member m, menu menu, payment pay 
		where 
		menu.storeId = a.storeId 
	    and m.membernum = pay.membernum
	    and p.storeId = a.storeId
	    <if test="phone != null">
  	    and m.phone = #{phone}
  	    </if> 
  	    <if test="storeId != null">
		and a.storeId = #{storeId}
		</if>
  	    
	</select>
	
	<!-- by아라 -->
	<update id="orderStarUpdate" parameterType="OrderCptVO">
		UPDATE orderCpt
		set
		orderStar=#{orderStar}
		where menuOrderNum= #{menuOrderNum}
	</update>
	
		<!--쿠폰함 담기 -->
	<select id="getCoupon" parameterType="hashmap" resultType="map">
		select distinct
		u.serialNum "serialNum", u.memberNum "memberNum", u.useCheck "useCheck",
		a.storeName "storeName", 
		to_char(c.expStart,'yyyy/mm/dd') "expStart", 
		to_char(c.expEnd,'yyyy/mm/dd') "expEnd", 
		c.discount "discount"
		from
		userCoupon u, admin a, member m, point p, coupon c
		where u.memberNum  = 1
		and m.membernum = p.membernum
	    and p.storeId = a.storeId
	    and c.storeId = a.storeId
	    and c.expEnd > sysdate
		and u.usecheck = 0
		 <if test="phone != null">
  	    and m.phone = #{phone}
  	    </if> 
  	    <if test="storeId != null">
		and a.storeId = #{storeId}
		</if>
		order by a.storeName
	</select>
	
	
	
	<!--쿠폰 삭제 -->
 <delete id="myCouponDelete" parameterType="UserCouponVO" >
		 delete from userCoupon where serialNum = #{serialNum}
	 </delete>
	 
</mapper>
