<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.order.mapper.OrderMapper">

	<!-- 주문내역 -->
	<select id="getOrder" parameterType="OrderCptVO" resultType="map">
		SELECT 
			m.menuName "menuName", 
			o.orderCount "orderCount", 
			m.menuPrice*o.orderCount "price"
			FROM menu m JOIN orderCpt o ON (m.menuNum = o.menuNum)
		
		<where>
		<if test="storeId != null">
			m.storeId = #{storeId}
		</if>
		<if test="orderNum != null">
			and o.orderNum = #{orderNum} 
		</if>	
		</where>
	</select>
	
	<!-- 총적립금조회 -->
	<select id="getTotalPoint" resultType="OrderCptVO" parameterType="OrderCptVO">	
		select sum(point*pointCheck) AS point
		from point  		
		<where>
			<if test="storeId != null">
				storeId = #{storeId}
			</if>
			<if test="memberNum != null">
				and memberNum = #{memberNum}
			</if>	
		</where>
	</select>
	
		<!-- 쿠폰조회  -->
	  <select id="findCoupon" parameterType="OrderCptVO" resultType="OrderCptVO">
		SELECT 
			c.serialNum, 
			c.expStart, 
			c.expEnd, 
			c.discount, 
			c.storeId, 
			u.useCheck
		FROM COUPON c JOIN USERCOUPON u ON (c.serialNum = u.serialNum)
		
		<where>
		<if test="storeId != null">
			c.storeId = #{storeId}
		</if>
		<if test="expEnd != null">		
			AND c.expEnd > sysdate
		</if>
		<if test="useCheck != null">
			AND u.usecheck = 0;
		</if>
		
		</where>
   </select>



</mapper>