<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.order.mapper.OrderMapper">

	<!-- 주문내역 -->
	<select id="getOrder" parameterType="OrderCptVO" resultType="map">
		SELECT 
			m.menuName "menuName", 
			o.orderCount "orderCount", 
			m.menuPrice*o.orderCount "price"
			FROM menu m JOIN orderCpt o ON (m.menuNum = o.menuNum)
		
		<where>
		<if test="orderNum != null">
			and o.orderNum = #{orderNum} 
		</if>	
		</where>
	</select>
	
	<!-- 총적립금조회 -->
	<select id="getTotalPoint" resultType="OrderCptVO" parameterType="OrderCptVO">	
		select sum(point*pointCheck) AS point
		from point  		
		<where>
			<if test="storeId != null">
				AND storeId = #{storeId}
			</if>
			<if test="memberNum != null">
				and memberNum = #{memberNum}   
			</if>	
		</where>
	</select>
	
		<!-- 쿠폰조회  -->
	<select id="findCoupon" parameterType="OrderCptVO" resultType="map">
		SELECT 
			c.serialNum "serialNum", 
			c.expStart "expStart", 
			to_char(c.expEnd,'yyyy/mm/dd') "expEnd", 
			c.discount "discount", 
			c.storeId "storeId", 
			u.useCheck "useCheck",
			a.storeName "storeName"
		FROM USERCOUPON u 
		INNER JOIN COUPON c 
			ON (u.serialNum = c.serialNum)
		INNER JOIN ADMIN a
			ON (c.storeId = a.storeId)	
		<where>
			c.expEnd > sysdate
			AND u.usecheck = 0
			<if test="storeId != null">
				AND c.storeId = #{storeId}
			</if>
		</where>
	</select>



</mapper>