<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.payment.mapper.PaymentMapper">

<!-- payment 전체조회 -->
   <select id="getPayment" parameterType="PaymentVO" resultType="PaymentVO">
	SELECT
	*
	FROM payment
   </select>

<!-- payment 일별 매출량-->
   <select id="getDayTotal" parameterType="PaymentVO" resultType="PaymentVO">
	SELECT DISTINCT(TO_Char(payday, 'mm/DD')),
	 		sum(totalpay) FROM payment 
	 group by (TO_Char(payday, 'mm/DD'));
   </select>
   
<!-- payment 월별 매출량 -->
   <select id="getMonthTotal" parameterType="PaymentVO" resultType="PaymentVO">
SELECT TO_Char(payday, 'mm') ,
 			sum(totalpay) FROM payment
 group by TO_Char(payday, 'mm') 
 order by to_char(payday,'mm') ASC;
   </select>   
   
   
   <!-- 월 평균과 년수입 비교 자료 -->
 	<select id ="salesData" resultType ="map">
  	 SELECT 
     (select TRUNC(sum(totalpay)/12,0) from payment where to_char(payday,'yyyy') = #{yearSales}) "yearSales",
	 	  (select sum(totalpay) FROM payment where to_char(payday,'yyyy/mm/')= #{monthSales}) "monthSales",
	      (select TRUNC(sum(totalpay),0) from payment where to_char(payday,'yyyy/mm/dd') = #{daySales}) "daySales"
     FROM payment
     WHERE rownum =1;  
 	</select>  
   
  
   
   
</mapper>

