<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.point.mapper.PointMapper">
	<select id="totalPoint" resultType="PointVO" parameterType="PointVO">	
		select point from point 		
		<where>
		<if test="storeId != null">
				storeId = #{storeId}
			</if>
			<if test="memberNum != null">
				and memberNum = #{memberNum}
			</if>
			<if test="pointCheck != null">
				and pointCheck = 0
			</if>	
		</where>
	</select>




</mapper>