<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.point.mapper.PointMapper">
	<select id="getTotalPoint" resultType="PointVO" parameterType="com.soso.app.menu.service.MenuSearchVO">	
		select sum(point*pointCheck) AS point
		from point  		
		<where>
			<if test="storeId != null">
				storeId = #{storeId}
			</if>
			<if test="memberNum != null">
				and memberNum = #{memberNum}
			</if>	
		</where>
	</select>



</mapper>