<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.storeorder.mapper.ReorderMapper">
  
	<insert id="mailInsert" parameterType="reorderVO">
		INSERT INTO reorder (reorderNum,memberNum,title,profile,storeId,reorderDate)
						VALUES(
						seq_reorderNum.nextval,
						(select distinct
							count(m.email)
							from point p, member m, admin a
							where p.memberNum = m.memberNum and
							a.storeid = p.storeid and
							a.storeId = #{storeId}
							and m.email is not null),
						#{title},
						#{profile},
						#{storeId}, 
						sysdate)								
	</insert>
	<select id="getEmail" parameterType="adminVO" resultType="map">   
	select distinct
	m.email
	from point p, member m, admin a
	where p.memberNum = m.memberNum and
		a.storeid = p.storeid and
		a.storeId = #{storeId}
		and m.email is not null
 </select>
  
  <select id="getcountEmail" parameterType="adminVO" resultType="map">   
	select distinct
	count(m.email)
	from point p, member m, admin a
	where p.memberNum = m.memberNum and
		a.storeid = p.storeid and
		a.storeId = #{storeId}
		and m.email is not null
		
 </select>
   
 <select id="getmailList" parameterType="reorderVO" resultType="reorderVO">   
      SELECT * 
      FROM reorder
      where storeId = #{storeId}
      ORDER BY reorderDate DESC
       
   </select>

</mapper>
