<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.soso.mapper.SosoListMapper">

<!-- 소소 쿠폰 조회 -->
<!-- by아라 -->
	<select id="sosoList" parameterType="adminVO" resultType="adminVO">
		SELECT distinct 
		a.storeId "storeId",
		a.storeName "storeName",
		c.serialNum "serialNum"
		FROM admin a, coupon c
		<where>
   		 a.storeId = c.storeId
   		 
		</where>
 	</select>
 	
	<select id="sosoCoupon" parameterType="adminVO" resultType="StoreCouponVO">
		 select 
		 to_char(expStart,'yyyy/mm/dd') "expStart", 
		 to_char(expEnd,'yyyy/mm/dd') "expEnd", 
		 serialNum, storeId, discount
		 from coupon where storeId = #{storeId}
 	</select>
 			
 	 <insert id="couponInsert" parameterType="hashmap">  
      INSERT INTO userCoupon (usercouponNum,serialNum,useCheck,memberNum)
	  values (seq_usercouponNum.nextval, #{serialNum}, '0' ,(select memberNum from member where phone = #{phone}))
   </insert>
</mapper>


