<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.store.mapper.StoreOrderMapper">

	<select id="getOrderList" resultType="StoreOrderVO" parameterType="map">
		select m.storeId "storeId",
				p.paycheck "paycheck", 
				p.payNum "payNum",
				o.orderCount "orderCount", 
				m.menuName "menuName", 
				s.seat "seat", 
				p.status "status",
				d.addr "addr"
		from payment p, 
			 orderCpt o, 
			 menu m, 
			 seat s, 
			 delivery d
		 <where>	 		    
			p.payNum = o.payNum 
			AND o.menuNum = m.menuNum 
			AND p.seatNum = s.seatNum(+) 
			AND p.payNum = d.paynum(+)
		    AND NOT p.status = '2'
			<if test="storeId != null">
		  	AND m.storeId = #{storeId}
		    </if>  
		 </where>  
		 order by p.paynum desc, m.menuName       
	 </select>
	 
	  <update id="orderUpdate1" parameterType="StoreOrderVO">   
			UPDATE PAYMENT 
			SET STATUS='1' 
			WHERE PAYNUM = #{payNum}
	  </update>
	  
	  <update id="orderUpdate2" parameterType="StoreOrderVO">   
			UPDATE PAYMENT 
			SET STATUS='2' 
			WHERE PAYNUM = #{payNum}
	  </update> 

</mapper>