<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.app.work.mapper.WorkMapper">

<!-- work 조회 -->
   <select id="empNum" resultType="map">    
	  SELECT e.empName, 
			  to_char(w.workStart,'hh24:mi') AS workStart, 
			  NVL(to_char(w.workEnd,'hh24:mi'),' ') AS workEnd
	  FROM employees e, work w
	  WHERE w.empNum = e.empNum 
	  AND storeId = #{storeId}
	  <if test="selectDate != null and selectDate !=''">
	  AND trunc(workStart)= to_date(#{selectDate},'YYYY-MM-DD')
	   </if> 
  </select>


<!-- getEmpSalAjax 조회 -->
   <select id="getEmpSalAjax" resultType="map">    
 	  SELECT  e.empName,
	          to_char(w.workStart, 'dy') AS week,
	          to_char(w.workStart,'mm/dd') AS month, 
			  to_char(w.workStart,'hh24:mi') AS workStart, 
			  NVL(to_char(w.workEnd,'hh24:mi'),' ') AS workEnd,
        	  ROUND( TRUNC((w.workend -w.workstart)*24,1),3) AS sumTime
	  FROM employees e, work w
	  WHERE w.empNum = e.empNum 
	  AND storeId = #{storeId}
	  AND to_char(w.workend,'YYYY-MM')=#{selectMonth}
	  AND e.empNum = #{empNum}
  </select>



<!-- getEmpSalAjax 계산 및 조회 -->
   <select id="totalSalAjax" resultType="map">   
SELECT TRUNC(sum(TRUNC((workend -workstart)*24,1)),2) AS totalTime,
	    TRUNC(sum(TRUNC((workend -workstart)*24,0))*8350,0) AS totalSal,
	    e.empClass AS empClass,
	    e.salary AS salary
FROM work w ,employees e
WHERE w.empNum = e.empNum 
AND storeId = #{storeId}
AND to_char(w.workend,'YYYY-MM')=#{selectMonth}
AND e.empNum = #{empNum}
</select>



<!--work 시작-->
   <insert id="workStart" parameterType="String">
	INSERT INTO work(workNum,empNum,workStart) values(work_seq.nextval,#{empNum},SYSDATE)
   </insert>
   
   
<!-- work 종료 -->  
   <update id="workEnd" parameterType="String" >
	UPDATE work SET workEnd=SYSDATE where empNum=#{empNum}
   </update>

<!-- 캘린더 work 데이터 -->
	<select id = "getWorkTimeData" resultType="map">
select e.empName, to_char(w.workstart,'YYYY-MM-DD') AS workStart
  from employees e, work w
 where w.empNum = e.empNum 
   AND storeId =#{storeId}
	</select>
	
		 <!-- 직원list -->
   <select id="getEmpListTime" parameterType="String" resultType="map">
    select
  	e.empName "empName",
  	e.empNum "empNum",
  	to_char(MAX(w.workstart),'YYYY-MM-DD') "workStart",
  	to_char(MAX(w.workend) KEEP(DENSE_RANK FIRST ORDER BY w.workstart  DESC),'YYYY-MM-DD') "workEnd"
  from employees e, work w
 where w.empNum(+) = e.empNum 
   AND storeId =#{storeId}
   group by e.empName, e.empNum
   order by e.empNum
   </select>


</mapper>

